:host {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: min-content minmax(0,1fr);
}

.filter__header {
    border-top: var(--box-shadow) 1px solid;
    border-bottom: var(--box-shadow) 1px solid;
}

.filter__body {
    display: grid;
    grid-template-rows: min-content minmax(0,1fr);
    border-top: none;
    overflow: hidden;
    height: 100%;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.body__content {
    margin-bottom: 10px;
    min-height: 0;
    overflow-y: auto;
    box-shadow:  0 4px 3px -3px var(--box-shadow);
}

.header__content, .body__content {
    padding: 8px;
}

.filter__body__card {
    width:100%;
    padding-bottom: 4px;
}

.filter-body__content {
    background: var(--secondary-color);
    color: #111111;
}

.filter-body__content--active, .filter-body__content:hover {
    background: var(--dark-secondary-color);
    color: var(--text-color);
}

button, mat-form-field {
    width: 100%;
}

.filter__body__card:last-child {
    padding-bottom: 0px;
}


@media (max-width: 768px) { 
    
    :host {
      max-height: 400px;
    }

    
}