<ng-container *ngIf="dataSource?.data?.length === 0">
  <div class="empty-message">
    Create your first flash card to start a deck!
  </div>
</ng-container>

<ng-container *ngIf="dataSource?.data?.length !== 0">

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="flow-right">
      <!-- use a disabled button to provide padding for tree leaf -->
      <span class="left">
        <button mat-icon-button disabled></button>
        <input #updateOne type="text" class="node-input" [value]="node.name" (change)="updateItem(node, updateOne.value)">
      </span>
      <span class="right">
        <mat-icon class="mat-icon-rtl-mirror delete-button" *ngIf="loading !== node?.id" (click)="removeItem(node)">
          {{'delete'}}
        </mat-icon>
        <mat-spinner [diameter]="30" *ngIf="loading === node?.id"></mat-spinner>
      </span>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <span class="left">
      <button mat-icon-button matTreeNodeToggle (click)="$event.preventDefault()"
              [attr.aria-label]="'toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <input #updateTwo type="text" class="node-input" [value]="node.name" (change)="updateItem(node, updateTwo.value)">
    </span>
    <span class="right">
      <mat-icon class="mat-icon-rtl-mirror delete-button" *ngIf="loading !== node?.id" (click)="removeItem(node)">
        {{'delete'}}
      </mat-icon>
  
      <mat-spinner [diameter]="30" *ngIf="loading === node?.id"></mat-spinner>
    </span>
    </mat-tree-node>
  </mat-tree>

</ng-container>
