<div class="container">
    <app-filter-list (clickedEvent)="activeContent = $event; activeAnswer = null"></app-filter-list>

    <div class="filler filler__question">
        <app-header-span dataCy="question-header" label="Question"></app-header-span>
        <ng-container *ngIf="activeContent; else fillerDiv">
            <app-question-content [activeContent]="activeContent"></app-question-content>
            <button (click)="activeAnswer = activeAnswer ? null : activeContent" mat-raised-button
                data-cy="show-answer-button" class="show-answer-button">
                <ng-container *ngIf="!activeAnswer; else hideAnswer">
                    <h3>Show Answer</h3>
                </ng-container>
            </button>
        </ng-container>
    </div>

    <div class="filler filler__answer">
        <app-header-span dataCy="answer-header" label="Answer"></app-header-span>
        <ng-container *ngIf="activeAnswer; else fillerDiv">
            <app-answer-content [activeContent]="activeAnswer"></app-answer-content>
        </ng-container>
        <ng-container *ngIf="activeContent"> <!-- TODO: Is disable better than hide here? -->
            <button mat-raised-button data-cy="next-button" class="next-button">
                <h3>Next</h3>
            </button>
        </ng-container>
    </div>
</div>

<ng-template #hideAnswer>
    <h3>Hide Answer</h3>
</ng-template>

<ng-template #fillerDiv>
    <div class="filler_answer--no-answer"></div>
</ng-template>