<div class="container">
    <ng-container *ngIf="client.activeContent$ | async as activeContent">
        <ng-container *ngIf="client.answers$ | async as answers">
            <ng-container *ngIf="client.isAnswerShowing$ | async as isAnswerShowing">

                <app-filter-list 
                [content]="client.content$ | async" 
                [category]="client.category$ | async"
                [categories]="cs.categoryRef$ | async"
                [activeContent]="activeContent" 
                (clickedEvent)="updateAnswer('hide')">
                </app-filter-list>

                <div class="filler filler__question">
                    <app-header-span dataCy="question-header" label="Question"></app-header-span>
                    <ng-container *ngIf="activeContent?.title; else fillerDiv">
                        <!-- TODO: Refactor title fillers -->
                        <app-question-content [activeContent]="activeContent" (initInputs)="updateAnswers($event)">
                        </app-question-content>
                    </ng-container>
                    <button (click)="updateAnswer(toggleAnswer(isAnswerShowing))" [disabled]="!activeContent?.id"
                        mat-raised-button data-cy="show-answer-button" class="show-answer-button">
                        <ng-container *ngIf="!activeAnswer; else hideAnswer">
                            <h3>Show Answer</h3>
                        </ng-container>
                    </button>
                </div>

                <div class="filler filler__answer">
                    <app-header-span dataCy="answer-header" label="Answer"></app-header-span>

                    <ng-container *ngIf="isShowing(isAnswerShowing); else fillerDiv">
                        <app-answer-content [answers]="answers" [activeContent]="activeContent"></app-answer-content>
                    </ng-container>

                    <button mat-raised-button [disabled]="!activeContent?.id" data-cy="next-button" class="next-button">
                        <h3>Next</h3>
                    </button>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
</div>

<ng-template #hideAnswer>
    <h3>Hide Answer</h3>
</ng-template>

<ng-template #fillerDiv>
    <div class="filler_answer--no-answer"></div>
</ng-template>