:host {
    display: grid;
    height: 100%;
    width: 600px;
}

.question-answer {
    display: grid;
    justify-items: center;
    align-items: center;
}

.flash-card__answer-btn {
    border: solid 3px var(--border-color);
    border-top: none;
    border-radius: 0px;
}