
<div class="buttons-bar">

  <button *ngFor="let action of actions" (click)="applyToken(
    textarea.inputElement.nativeElement.value,
    textarea.inputElement.nativeElement.selectionStart,
    textarea.inputElement.nativeElement.selectionEnd,
    action.token); 
    $event.preventDefault();
    applyFocus(textarea.inputElement.nativeElement.selectionStart)">
    <fa-icon [icon]="action.icon"></fa-icon>
  </button>

</div>
<app-form-textarea 
 (keyup)="cd.detectChanges()"
 (mouseup)="cd.detectChanges()"
#textarea [form]="form" [placeholder]="placeholder" [controlName]="controlName" [disabled]="disabled">
</app-form-textarea>