:host {
    height: 100%;
    display: grid;
    grid-template-rows: 30px minmax(0, 1fr);
}

.buttons-bar {
    display: flex;
    background: var(--box-color);
    box-shadow:  0 4px 3px -3px var(--box-shadow);
    padding: 5px;
    align-items: center;
}

button {
    border: 0;
    appearance: none;
    cursor: pointer;
    background: transparent;
}

fa-icon, .text-icon {
    transition: color .2s linear;
    color: var(--text-color);
    padding: 5px;
}

fa-icon:hover, .text-icon:hover {
    color: var(--primary-color);
}

.text-icon {
    font-weight: 900;
    padding: 0;
}