:host, .add-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-column: span 2;

    gap: 8px;
    grid-template-columns: 1fr min-content;
}

fieldset {
    width: 100%;
    border: var(--primary-color) 2px solid;
    box-sizing: border-box;
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin-bottom: 20px;
}

legend {
    text-align: center;
    background: transparent;
}


.group-select, .group-input {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    margin-left: 15px
}

.add-button, .return-button {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 0;
    border: none;
    appearance: none;
    cursor: pointer;
    background: var(--box-color);
    justify-self: center;
    align-self: center;
    transition: background-color .3s linear;
   /* box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);*/
}

.add-button:hover {
    background: var(--primary-color);
}

.return-button:hover {
    background: var(--cancel-color);
}

.add-button fa-icon, .return-button fa-icon {
    color: var(--text-color);
}