<form style="display: contents" [formGroup]="form">


  <ng-container *ngIf="!showAddDeck">
    <app-form-select [form]="form" [selectData]="decks" label="Deck *" controlName="deck" class="category-control">
    </app-form-select>

    <button class="hover-button add-button" style="grid-row: 1 / span 1" (click)="showAddDeck = !showAddDeck;
       $event.preventDefault();">
      <fa-icon title="Add New Deck" [icon]="addIcon"></fa-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="showAddDeck">

    <fieldset>
      <legend>New Deck</legend>

      <div class="add-container">

        <mat-form-field class="category-control">
          <input #addCategoryInput matInput placeholder="Deck *" appAutofocus formControlName="deck">
        </mat-form-field>
    
        <button class="hover-button return-button" style="grid-row: 1 / span 1" (click)="showAddDeck = !showAddDeck;
           $event.preventDefault();">
          <fa-icon title="Return to Dropdown" [icon]="backIcon"></fa-icon>
        </button>
    
    
        <ng-container *ngIf="showAddGroup">
          <mat-form-field class="group-input">
            <input #addGroupInput matInput appAutofocus placeholder="Group (Optional)" formControlName="group">
          </mat-form-field>
    
          <button class="hover-button return-button" (click)="showAddGroup = !showAddGroup;
           $event.preventDefault();">
            <fa-icon title="Return to Dropdown" [icon]="backIcon"></fa-icon>
          </button>
        </ng-container>
    
    
        <ng-container *ngIf="!showAddGroup">
          <app-form-select class="group-select" [form]="form" [selectData]="groups" label="Group (Optional)"
            controlName="group">
          </app-form-select>
    
          <button class="hover-button add-button" (click)="showAddGroup = !showAddGroup;
           $event.preventDefault();">
            <fa-icon title="Add New Group" [icon]="addIcon"></fa-icon>
          </button>
        </ng-container>
  
  
  
      </div>

    </fieldset>
    

    


    <!-- <button mat-raised-button class="back-category-control hover-button--cancel"
      (click)="showAddDeck = !showAddDeck;$event.preventDefault();">
      Back
    </button>

    <button mat-raised-button color="primary" [disabled]="!addCategoryInput.value" class="save-category-control"
      (click)="addCategory(addCategoryInput.value, userId);
  showAddDeck = !showAddDeck;$event.preventDefault();">
      Save Deck
    </button> -->
  </ng-container>



</form>