:host {
    display: grid;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.textarea {
    resize: none;
    outline: none; /* TODO: Revisit in future */
    color: var(--text-color);
    font-size: 1.2rem;
    background: var(--background-color);
    border: none;
    border-bottom: 2px solid var(--box-shadow);
    padding: 10px;
    padding-left: 15px;
    transition: border-color .3s linear;
    margin-bottom: 1px; /* Show bottom border */
}

.textarea:active, .textarea:hover, .textarea:focus {
    border-bottom-color: var(--primary-color);
}

.disabled {
    background: rgba(255, 255, 255, 0.12);
}