:host {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 150px minmax(0,1fr);
}

.filter__header, .filter__body {
    border: var(--box-shadow) 1px solid;
}

.filter__body {
    border-top: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.header__content, .body__content {
    padding: 8px;
}

.filter__body__card {
    width:100%;
    padding-bottom: 4px;
}

button, mat-form-field {
    width: 100%;
}

.filter__body__card:last-child {
    padding-bottom: 0px;
}