<div class="filter__header">
  <app-header-span dataCy="filters-header" label="Filters"></app-header-span>
  <div class="header__content">

    <mat-form-field style="margin-right: 5px;">
      <mat-label>Category</mat-label>
      <mat-select data-cy="category" (selectionChange)="changeCategory($event)" [value]="category">

        <mat-option *ngFor="let defaultDeck of groups?.defaultDecks" [value]="defaultDeck.id">
          {{defaultDeck.value}}        
        </mat-option>
    
        <mat-optgroup *ngFor="let group of groups?.groups" [label]="group.value">
          <mat-option *ngFor="let deck of group.decks" [value]="deck.id">
            {{deck.value}}
          </mat-option>
        </mat-optgroup>

        



      </mat-select>
    </mat-form-field>

  </div>
</div>

<div class="filter__body">
  <app-header-span dataCy="content-header" label="Content"></app-header-span>
  <div class="body__content">
    <ng-container *ngIf="content; else choose">
      <ng-container *ngIf=""></ng-container>
      <div class="filter__body__card" *ngFor="let card of content; let i = index">
        <button [ngClass]="activeContent?.id === card?.id ? 'filter-body__content--active' : 'filter-body__content'"
          (click)="raiseClickedEvent(card); $event.preventDefault();" mat-raised-button [attr.data-cy]="'card-' + i">
          <h3 class="text-overflow">{{card.title}}</h3>
        </button>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #choose>
  <h3 style="padding: 8px; text-align: center;">
    <ng-content></ng-content>
  </h3>
</ng-template>