:host {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 150px minmax(0,1fr);
}

.filter__header, .filter__body {
    border: var(--box-shadow) 1px solid;
}

.filter__body {
    display: grid;
    grid-template-rows: min-content minmax(0,1fr) 75px;
    border-top: none;
    overflow: hidden;
    height: 100%;
}

.body__content {
    min-height: 0;
    overflow-y: auto;
    box-shadow:  0 4px 3px -3px var(--box-shadow);
}

.header__content, .body__content {
    padding: 8px;
}

.filter__body__card {
    width:100%;
    padding-bottom: 4px;
}

button, mat-form-field {
    width: 100%;
}

.filter__body__card:last-child {
    padding-bottom: 0px;
}