<div class="summary-container">
  <div class="text-container">
    <h3>Flash-cards for Developers</h3>
    <hr>
    Yami is a web application designed for creating, saving, and practicing flash-cards
    written in <em>Markdown</em>, with support for <em>syntax highlighting</em> and <em>fill-in-the-blanks</em>.
    
  </div>
  <div class="button-container">
    <button color="primary" [routerLink]="['/login']" mat-raised-button>Get Started</button>
    <button color="accent" [routerLink]="['/guides']" mat-raised-button>Read the Guides</button>
  </div>
</div>

  <div class="grid-container">
    <div class="video-container">
      <ng-container *ngIf="landingVideo | async as videoSrc; else loading">
        <video class="content" autoplay muted loop>
          <source [src]="videoSrc" type="video/mp4">
          My video is broken. Oh no. :(
        </video>
      </ng-container>
    </div>
  </div>
    


<ng-template #loading>
  <app-loading></app-loading>
</ng-template>