:host {
    display: grid;
    grid-template-rows: min-content minmax(0, 1fr);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    min-height: 0;
    overflow: auto;
    font-size: 24px;
    background: var(--box-color);
}
  
  .two {
    
  
    display: grid;
    height: 100%;
    width: 100%;

    /* This was the fix for the size being incorrect */
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  
    grid-template-columns: 4fr 6fr;
    /*grid-template-rows: min-content;*/
  
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    
  }
  
  h1 {
      margin-bottom: 10px;
  }

  button {
      margin-left: 10px;
  }

  .three {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .summary {
      margin-bottom: 20px;
  }
  
  .four {
    height: 100%;
    width: 100%;
    display: grid;
    align-items:center;
  }
  
  .embed-responsive-item {
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      border: 0;
  }
  
  video {
    object-fit: contain;
    align-self: center;  
  }

  .embed-responsive {
      position: relative;
      display: grid;
      height: min-content; /* Shrink div down to match video size */
      width: 100%;
      padding: 0;
      overflow: hidden;
      box-sizing: border-box;
      border-radius: .25rem!important;
      -webkit-box-shadow: -3px 3px 20px 0px var(--box-shadow);
      -moz-box-shadow: -3px 3px 20px 0px var(--box-shadow);
      box-shadow: -3px 3px 20px 0px var(--box-shadow);
  }

  .loader {
    justify-self: center;
    align-self: center;
  }
  



