<ng-container *ngIf="auth.userId$ | async as userId">
  <form class="container" [formGroup]="form" (ngSubmit)="onSubmit(userId)">

    <input type="text" style="width: 400px" label="Title" formControlName="title">
    <textarea style="width: 400px" label="Question" formControlName="question"></textarea>
    <textarea style="width: 400px" label="Answer" formControlName="answer"></textarea>
    <div class="form__topic-controls">
  
      <ng-container *ngIf="!showAddCategory">
        <mat-form-field style="margin-right: 5px;">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <ng-container *ngIf="categories$ | async as categories">
              <mat-option *ngFor="let category of categories" [value]="category.value">
                {{category.value}}
              </mat-option>
            </ng-container>
    
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="showAddCategory = !showAddCategory">New Category</button>
      </ng-container>
  
      <ng-container *ngIf="showAddCategory">
        <mat-form-field>
          <input #addCategoryInput matInput placeholder="Category">
        </mat-form-field>
        <button 
        mat-raised-button 
        color="accent" 
        (click)="
        addCategory(addCategoryInput.value, userId);
        showAddCategory = !showAddCategory;
        $event.preventDefault();
        ">Add Category</button>
  
      </ng-container>  
      
    </div>
    <button mat-raised-button color="primary">Submit</button>
  
  </form>
</ng-container>

