<div class="container">

    <div class="left">

        <span class="container__title" [routerLink]="['/home']">
            YAMI (Beta)
        </span>

    </div>


    <div class="center">

        

    </div>


    <div class="right">
        <ng-container *ngIf="auth.user$ | async as user; then authenticated else not"></ng-container>
 
        <ng-template #authenticated>
            <ng-container  *ngIf="auth.user$ | async as user">
                <button class="log-button" mat-raised-button [routerLink]="['/flashCards']" routerLinkActive="log-button-active" style="margin-right: 5px;">Practice</button>
                <button class="log-button" mat-raised-button [routerLink]="['/manage']" routerLinkActive="log-button-active" data-cy="manage-link">Manage</button>
                <button class="log-button" mat-raised-button [routerLink]="['/guides']" routerLinkActive="log-button-active">Guides</button>
                <span class="item--link__divider"> | </span>
                <button mat-raised-button class="log-button" (click)="logout()">
                    Logout <fa-icon [icon]="rocketIcon"></fa-icon>
                </button>
            </ng-container>

        </ng-template>

        <ng-template #not>
            <button mat-raised-button class="log-button" [routerLink]="['/login']"> 
                <fa-icon [icon]="rocketIcon"></fa-icon> Login / Sign-Up
            </button>
        </ng-template>

    </div>

</div>

<div [@routeAnimations]="prepareRoute(outlet)" class="inner-host">
    <router-outlet #outlet="outlet"></router-outlet>
</div>