:host {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    min-height: 0;
    overflow: hidden;
    font-size: 24px;
    
}

.container {
    padding: 40px;
    -webkit-box-shadow: -3px 3px 20px 0px var(--box-shadow);
-moz-box-shadow: -3px 3px 20px 0px var(--box-shadow);
box-shadow: -3px 3px 20px 0px var(--box-shadow);
}

.errors {
    grid-column: span 2;
}

.login-button {
    font-size: 1.2rem;
    background: var(--primary-color);
    border: none;
    text-align: left;
    font-weight: 600;
    padding: 0;
    appearance: none;
    color: whitesmoke;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    cursor: pointer;
    outline-color: dodgerblue;
    transition: outline-width .3s linear;
}

.login-button:hover {
    outline: 1px solid whitesmoke;
}

.login-button__container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr;
}

.login-button__container--google {
    border: solid 1px var(--primary-color);
}

.login-button__container--github {
    border: solid 1px #111111;
}

.login-button--github {
    background: #111111;
}

.login-button__icon-container {
    background: whitesmoke;
    padding: 8px;
}

.login-button__name-container {
    padding: 8px;
}
