:host {
    /* TODO: Extract to base component */
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    min-height: 0;
    overflow: hidden;
}

.container__filter-list__empty-message {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.container__filter-list__empty-message > div {
    height: 75px;
}

.container {
    display: grid;
    overflow: auto;
    grid-template-columns: 2fr 4fr 4fr;
    grid-template-rows: minmax(0,1fr) minmax(0,1fr) min-content;
    height: 100%;
    width: 100%;
}

.padded-container {
    padding: 10px;
}

.padded-container--bottom-shadow {
    box-shadow:  0 4px 3px -3px var(--box-shadow);
}

.filter-list__button-container {
    grid-column:  1;
    grid-row: span 1 / -1;
    display: grid;
    padding: 5px;
    gap: 5px;
}

button {
    width: 100%;
}

.button-row {
    display: grid;
    justify-items: center;
    height: 100%;
    width: 100%;
    max-width: 500px;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.box {
    color: var(--text);
    background: var(--box-color);
    border: 3px solid var(--border-color);
    text-decoration: none;
    grid-column: span;

    display: grid;
    justify-items: center;
    align-items: center;
    
    width: 100%;

    margin-top: 45px;
    margin-bottom: 45px;
    height: 75px;

    transition: all .3s;
}

.back-button {
    grid-column: 2fr;
    box-shadow: -6px 6px 1px var(--primary-color);
}

.add-button {
    box-shadow: -6px 6px 1px var(--primary-color);
}

.span-two {
    grid-column: span 2;
}

.container__filter-list, .container__question, .container__answer {
    grid-row: span 2;
}

.container__meta-data {
    grid-column: span 2;
}

.container__question, .container__answer {
    display: grid;
    grid-template-rows: min-content minmax(0,1fr) min-content;
    border: 1px solid var(--box-shadow);
    border-left: none;
}

.hover-button--warn:hover {
    background: var(--warn-color);
}
/* dup */
.submit-content-button, .hover-button, .hover-button--warn {
    background: var(--box-color);
}

.submit-content-button:hover, .hover-button:hover {
    background: var(--primary-color);
}

.filler_answer--no-answer {
    box-shadow:  0 4px 3px -3px var(--box-shadow);
}

