:host {
    /* TODO: Extract to base component */
    display: block;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    min-height: 0;
    overflow: hidden;
    
}

.divider {
    border-color: var(--box-color);
}

.expand {
    grid-row: span 4;
}

.container {
    display: grid;
    grid-template-columns: 2fr minmax(240px, 2fr) 6fr;
    grid-template-rows: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
    height: 100%;
    width: 100%;
}

.padded-container--bottom-shadow {
    box-shadow:  0 4px 3px -3px var(--box-shadow);
}

.back-button {
    grid-column: 2fr;
    box-shadow: -6px 6px 1px var(--primary-color);
}

.add-button {
    box-shadow: -6px 6px 1px var(--primary-color);
}

.container__meta-data {
    border: 1px solid var(--box-shadow);
    grid-column: span 1 / -2;
    grid-row: 1 / span 4;

    display: grid;
    grid-template-rows:  min-content minmax(0,1fr) min-content;
}

.save-category-control, .back-category-control {
    grid-column: span 1;
}

app-filter-list {
    border-bottom: var(--box-shadow) 1px solid;
}
