  <ng-container *ngIf="client.flashCards$ | async as flashCardsEntity">
    <form style="display:contents" [formGroup]="form" (ngSubmit)="onSubmit(flashCardsEntity.activeCard)" autocomplete="off">

      <div class="container">
        <app-actions-drawer 
        [flashCardsEntity]="flashCardsEntity"
        [deck]="client.deck$ | async"
        [aggregatedDecks]="cs.aggregatedDecks$ | async"
        (actionEvent)="consumeActionEvent($event)"></app-actions-drawer>

        <app-question-input 
        [form]="form"
        [type]="type?.value"
        [value]="question?.value"
        [practicePreview]="previewMode?.value">
        </app-question-input>

        <app-answer-input 
        [form]="form"
        [type]="type?.value"
        [value]="answer?.value"
        [practicePreview]="previewMode?.value">
        </app-answer-input>

        <!-- Meta Data & Save -->
        <div class="container__meta-data">
          <app-header-span dataCy="meta-header" label="Details">
            <span data-cy="details-header-info"> -
              {{flashCardsEntity?.activeCard?.title ? flashCardsEntity?.activeCard?.title : 'Adding New Card'}}</span>
          </app-header-span>

          <app-flash-card-details
            [activeContent]="flashCardsEntity?.activeCard"
            [appFormController]="form"
            [formSubmittedEvent]="formSubmittedEvent$">
          </app-flash-card-details>
          
          <div style="padding: 5px;">
            <div style="padding-top: 10px; font-size: 24px; grid-column: span 2; text-align: center;">
              <mat-checkbox formControlName="previewMode" data-cy="preview-mode">Practice Preview</mat-checkbox>
              <hr class="divider">
            </div>

            <div class="save-cancel">
              <button class="hover-button--cancel" (click)="cancel(flashCardsEntity?.activeCard); $event.preventDefault();"
                mat-raised-button data-cy="cancel-content-button">
                Cancel
              </button> 
              <button mat-raised-button [disabled]="!form.valid" color="primary" data-cy="submit-content-button"
                class="submit-content-button">
                Save
              </button>
            </div>
          </div>
        </div>

      </div>
    </form>
</ng-container>