:host {
    display: block;
    background: var(--box-color);
    box-shadow:  0 4px 3px -3px var(--box-shadow);
    
}

.banner__content {
    width: 100%;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}