/* You can add global styles to this file, and also import other style files */

/* TODO: Can we switch this at run-time? */
/*@import '~highlight.js/styles/atom-one-dark.css';*/

:root {
    --primary-color: #2979ff;
    --secondary-color: #1de9b6;
    --yellow: #ffea00;
    --purple: #d500f9;
    --red: #ff1744;
    --orange: #ff3d00;
    --indigo: #3d5afe;
    --background-color: #212834;
    --box-color: #11111170;
    --text-color: #ffffff;
    --border-color:#ffffff;
    --box-shadow: #111111;
}

body {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html { height: 100%; }

body > * {
    box-sizing: border-box;
}

pre {
    box-shadow: 0 2px 4px rgba(0,0,0,0.38);
}

.fill-in-blank {
    background: var(--primary-color);
    border: none;
    font-weight: 600;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    appearance: none;
    color: whitesmoke;
}

/* This works, the hover and active do not. */
.ql-snow .ql-stroke {
    stroke: var(--border-color);
}

.ql-picker-label {
    color: var(--border-color);
}

div.ql-editor {
    background: var(--box-color);
    color: var(--text-color);
}

div.ql-editor strong {
    visibility: hidden;
    width: 0px;
}

div.ql-editor strong::after {
    color: white;
    width:10px;
    visibility: visible;
    content:'...';
}

div.ql-container.ql-snow {
    border: solid 3px var(--border-color);
}

div.ql-toolbar.ql-snow {
    background: var(--box-color);
    border: solid 3px var(--border-color);
    color: var(--text-color);
}

/* Chromium */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--background-color);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--box-color);
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--box-color) var(--background-color);
  }