:root {
    --primary-color: #2979ff;
    --secondary-color: #1de9b6;
    --dark-secondary-color: #00b686;
    --warn-color: #ff1744;
    --background-color: #212834;
    --dark-background-color: #1e2530;
    --box-color: #11111170;
    --text-color: #ffffff;
    --border-color:#ffffff;
    --box-shadow: #111111;
    --cancel-color: #37474f;
    --dark-primary: rgb(41, 121, 255, 0.55);
    --light-primary: #75a7ff;
}

body {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}
html { height: 100%; }

body > *, div {
    box-sizing: border-box;
}

pre {
    box-shadow: 0 2px 4px rgba(0,0,0,0.38);
}

img {
    width: 100%;
}

a {
    color: var(--primary-color);
}

.fill-in-blank, .fill-in-blank-answer {
    background: var(--primary-color);
    border: none;
    font-weight: 600;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    appearance: none;
    color: whitesmoke;
    margin-top: 5px;
    margin-bottom: 5px;
}

.correct {
    background: var(--secondary-color);
    color: #111111;
}

.incorrect {
    background: var(--warn-color);
}


.answer {
    color: #ffffff;
    padding: 4px;
    background: var(--secondary-color);
    color: #ffffff;
    border-radius: 4px;
    line-height: 3;
}



/* Material Overrides */
/* <div class="mat-form-field-underline ng-tns-c16-6 ng-star-inserted" style="
    color:  blue;
    background: blue;
"><span class="mat-form-field-ripple"></span></div> */

mat-dialog-container.mat-dialog-container {
    padding: 0;
}

.mat-form-field-underline {
    transition: background .3s linear;
}

div:hover > .mat-form-field-underline {
    background: var(--primary-color) !important; 
}

.mat-form-field-flex {
    height: 100%;
}

mat-option {
    background: var(--box-shadow);
}

mat-option:hover {
    background: var(--cancel-color);
}

mat-option.mat-option:hover {
    background: var(--background-color) !important;
}

mat-option.mat-option.mat-active {
    background: var(--primary-color) !important;
}

mat-option.mat-option.mat-selected {
    color: #111111 !important;
    background: var(--light-primary) !important;
}

label.mat-optgroup-label {
    text-decoration: underline;
    background: var(--box-shadow);
}

textarea {
    font-size: 1.2rem;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Chromium */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
::-webkit-scrollbar-track {
    height: 5px;
    background: var(--box-color);
}
  
::-webkit-scrollbar-thumb {
    height: 5px;
    background: whitesmoke;
}
  
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--box-color) var(--background-color);
}


table, td, th {
    padding: 5px;
    border-collapse: collapse;
    border: 1px solid var(--primary-color);
}

/* TODO: Not sure how to fix this. 
Problems:
1) On the landing page, there is a void area that cannot be colored and cannot be removed
1.1) even if I somehow make the height 100% to cover the area, I then get a 1 inch scroll for now reason
2) On the guides screen, I keep getting a shitty looking scroll bar. When I'd rather have the body scroll*/
@media (max-width: 768px) { 
    
    body {
      display: block;
      height: 100%;
      max-height: 100%;
    }

}