<div class="theme-test">
    <a [routerLink]="['/']">🤠</a>
    <button (click)="testLight()">Test Light</button>
    <button (click)="testDark()">Test Dark</button>
    <a [routerLink]="['/examples']">Load Examples</a>
    <a [routerLink]="['/flashCards']">Flash Cards</a>
    <!-- Replace with component -->
    <button (click)="logout()">Logout</button>
    <a [routerLink]="['/login']">Login</a>
    <span *ngIf="auth.user$ | async as user">{{user.displayName}}</span>
</div>

<router-outlet></router-outlet>