:host {
    display: grid;
    grid-template-rows: 64px minmax(0, 1fr);
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

/* .container {
    display:flex;
    padding: 16px;
    align-items: center;

    background: var(--primary-color);
} */

.container {
    display:grid;

    grid-template-columns: repeat(3, 1fr);

    background: var(--box-color);   
}


.center {
    justify-self: center;
    align-self: center;
    width: 100%;
    text-align: center;
}


.right {
    display: flex;
    justify-self: right;
    align-self: center;
}


.left {
    display: flex;
    align-self: center;
}

.item {
    margin-left: 5px;
    margin-right: 5px;
}

.login-img {
    height: 30px;
    width: 50px;
    border-radius: 8px;
    margin-right: 2px;
    margin-left: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.inner-host {
    display: grid;
    min-height: 0;
    grid-template-rows: 0 minmax(0,1fr);
    grid-template-columns: 1fr;
}

.item--link, .item--link__divider, .container__title {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: underline;
}

.container__title {
    text-decoration: none;
    cursor: pointer ;
}

.item--link--active {
    color: var(--primary-color);
}

.log-button {
    background: var(--box-color);
    color: var(--text-color);
    margin-right: 5px;
}

.log-button:hover {
    background: var(--primary-color);
}