:host {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    min-height: 0;
    overflow: hidden;
}

.container {
    display: grid;
    overflow-y: auto;
    overflow-x: hidden;
    grid-template-columns: min-content 2fr 4fr 4fr;
    grid-template-rows: minmax(0,1fr);
    height: 100%;
    width: 100%;
}

.next-button {
    grid-row: span 1 / -1;
}

.filler {
    border: 1px solid var(--box-shadow);
    border-left: none;
}

.filler_answer--no-answer {
    box-shadow:  0 4px 3px -3px var(--box-shadow);
}

.filler__question, .filler__answer {
    display: grid;
    grid-template-rows: min-content minmax(0,1fr);
}

.show-answer-button, .next-button {
    margin: 5px;
    background: var(--box-color);
}

.show-answer-button:hover, .next-button:hover {
    background: var(--primary-color);
}

app-filter-list {
    border-right: 1px solid var(--box-shadow);
    border-left: 1px solid var(--box-shadow);
}


@media (max-width: 768px) {     
    
    .container {
      display: block;
      height: inherit;
    }

}